@font-face {
  font-family: gandom;
  src: url(../fonts/Gandom.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: gandom;
  overflow-x: hidden !important;
  width: 100vw;
  background: url(../pics/bg/pexels-life-of-pix-8892.jpg);
}

.cp {
  cursor: pointer;
}

.d-flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.h-10 {
  height: 10%;
}

.h-90 {
  height: 90%;
}

.main-nav {
  background: rgb(90, 112, 207);
  position: fixed !important;
  z-index: 2 !important;
  width: 100% !important;
  margin: 0 !important;
  left: 0;
  right: 0 !important;
  top: 0;
}

.nav-link, .navbar-brand {
  color: #f1f1f1;
  font-size: larger;
}
.nav-link:hover, .navbar-brand:hover {
  color: rgb(15, 33, 88);
}

.navbar-brand {
  font-size: 1.5rem;
  margin-left: 7vw !important;
}

.navbar-search-btn {
  margin-right: -1.5vw !important;
  background-color: royalblue !important;
}

.navbar-toggler,
.navbar-toggler-icon {
  color: #f1f1f1 !important;
}

.active {
  box-shadow: 0px 0px 5px 1px white;
  border-radius: 0.9vw;
}

.second-nav {
  position: fixed;
  top: 3.9rem !important;
  left: 0;
  right: 0;
  background-color: rgba(149, 137, 137, 0.5411764706);
  z-index: 1 !important;
}

.cart-icon-container {
  margin-right: -5vw !important;
  margin-bottom: 1vh !important;
}

.cart-icon-container {
  justify-content: flex-end;
}

.userInformation-container {
  position: relative !important;
}
.userInformation-container:hover .userInformation {
  top: 110% !important;
}

.userInformation {
  position: absolute !important;
  width: 110%;
  top: -1110%;
  right: 30% !important;
  transition: all 0.5s;
  border-radius: 1vw !important;
  background-color: royalblue;
  overflow: hidden;
}
.userInformation ul {
  width: 100%;
  padding: 0 !important;
}
.userInformation ul li {
  font-size: 1.2rem !important;
  padding: 1.5vh;
  text-align: start;
}
.userInformation ul li:hover {
  background: linear-gradient(140deg, rgb(83, 176, 234), rgb(146, 240, 146));
}

main {
  margin-top: 15vh !important;
}

.cards-container {
  width: 95%;
  margin: auto !important;
  padding-top: 5vh;
}

.card {
  width: 18.5rem;
  margin-top: 1rem !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: 47vh;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1.2vw;
  transition: all 0.7s;
}
.card img {
  height: 70% !important;
}
.card a {
  margin-right: auto !important;
  margin-left: 2vw !important;
}
.card .btn {
  transition: all 0.7s;
}
.card:hover {
  transform: translateY(-2vh);
  background-color: rgba(136, 136, 136, 0.5215686275);
}
.card:hover a, .card:hover h5 {
  color: #f1f1f1;
}
.card:hover .btn {
  background-color: rgb(48, 123, 48);
  border: 0;
}

.off-badge {
  top: 1.5vh;
  left: -15%;
  width: 50%;
  color: #f1f1f1;
  rotate: -45deg;
}

.card-price-linethrough {
  width: 100%;
  height: 0.5vh;
  top: 40%;
  background-color: red;
}

.off-price {
  top: -80%;
}

.companys {
  background-color: rgba(136, 136, 136, 0.5215686275);
  margin-top: 10vh !important;
}

.companys-container {
  width: 90%;
  margin: 0 auto !important;
  height: 20vh;
  padding: 5vh 0;
}
.companys-container img {
  cursor: pointer;
}

footer {
  width: 100vw;
  height: 30vh;
  background-color: rgba(90, 112, 207, 0.596);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding-top: 10vh;
}

.first-footer-ul {
  color: #fff;
}
.first-footer-ul li {
  cursor: pointer;
  transition: all 0.5s;
}
.first-footer-ul li:hover {
  color: rgb(15, 33, 88);
}

.second-footer-ul a {
  color: #fff;
  transition: all 0.5s;
}
.second-footer-ul a:hover {
  color: rgb(15, 33, 88);
}

.modal-header, .modal-body, .modal-footer {
  background-color: #555;
}

.modal-dialog {
  border-radius: 1.5vw !important;
}

.search-results-container {
  width: 100%;
  background-color: rgba(219, 228, 230, 0.5490196078);
  top: 100%;
  border-radius: 1.2vw;
  display: none;
  overflow: hidden;
}

.search-result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}
.search-result .h5 {
  padding-right: 2vw !important;
  margin-top: 0.5vh;
  color: #1a1818;
}
.search-result:hover {
  background-color: rgba(136, 136, 136, 0.5725490196);
  color: #fff;
}

.cart-badge {
  font-size: 1.2rem;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: red;
  top: -30%;
  right: -40%;
}

@keyframes cartAnimation {
  0% {
    transform: scale(0.7) rotate(10deg);
  }
  100% {
    transform: scale(1.3) rotate(-10deg);
  }
}
.cart-container {
  height: 70%;
  width: 90%;
  position: absolute;
  background-color: rgba(7, 33, 99, 0.904);
  top: 0;
  margin: 20vh 5% !important;
}

.cart-products-container {
  height: 65%;
  overflow-y: scroll;
  overflow-x: hidden !important;
}

.cart-product-image {
  width: 50px;
  height: 50px;
}

.cart-sizes-btns-select, .cart-sizes-btns:hover {
  color: #fff;
  background: linear-gradient(270deg, rgb(101, 136, 158) 10%, rgb(88, 69, 212));
  transform: scale(1.1);
}

.cart-sizes-btns {
  width: 50px;
  height: 50px;
  color: #f1f1f1;
  background: linear-gradient(135deg, rgb(38, 116, 164) 30%, rgb(143, 33, 198));
  transition: all 0.5s;
}
@media screen and (max-width: 1200px) {
  .cart-icon-container {
    margin-right: 0 !important;
  }
}/*# sourceMappingURL=products.css.map */