body{
       background-color: #333;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b7b1b1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
*{
       margin: 0 ;
       padding: 0 ;
}
.about-product-container{
  background: linear-gradient(135deg,lightskyblue,gray);
  box-shadow: 0px 0px 10px 1px white;
  border-radius: 1.5vw;
  color: #fff;
  // height: 80vh !important;
  
}
.closeBtn{
  font-size: 2rem !important;
  width: 5vw !important;
  height: 5vw !important;
  margin-top: 2vh;
  cursor: pointer;
  color: #fff;
}

.product-lg-img{
  cursor: pointer;
  transition: all .5s;
  &:hover{
    transform: scale(1.1);
    border-radius: 2vw !important;
  }
  height: 30vh;
}
.sm-img-container{
  height: 10vh !important;
  overflow: hidden !important;
  margin-top: 2vh !important;
  margin-left: 1vw !important;
  img{
    height: 100%;
    cursor: pointer;
  }
}
.sizes-container{
  width: 90%;
  margin: 4vh auto !important;
}
.size-box-container{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(135deg,lightskyblue,gray);
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer;
  transition: all .5s;
  span{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
  }
  &:hover{
    transform: scale(1.2);
    background: linear-gradient(135deg,royalblue,rgb(37, 88, 189));
  }
}
.ordered-size{
  transform: scale(1.25) !important;
  background: linear-gradient(145deg,royalblue,rgb(37, 88, 189)) !important;
}
.add-to-cart-btn{
padding: 1vh 1.5vw !important;
border: 0;
font-weight: 500;
color: #fff;
border-radius: .7rem;
background: linear-gradient(135deg,royalblue,rgb(37, 88, 189));
&:hover{
  background: linear-gradient(135deg,rgb(65, 225, 110),rgb(37, 88, 189));
  color: #f1f1f1;
}
}
.size-count{
  width: 60%;
  top: -20%;
  right: 0;
  height: 3vh;
}